%form{:action => "/auth/facebook?return_to=#{@store_id}", :method => "post"}
  %input{:name => "authenticity_token", :type => "hidden", :value => "#{request.env["rack.session"]["csrf"]}" }
  %button{:type => "submit"} Login Facebook
